.header-logo a {
	color: white;
	font-size: 3rem;
	transition: all 0.4s;
}

img {
	width: 100%;
	height: 100%;
}

.header-logo a.logo:hover {
	color: #3498db;
}
#wish-lish{
    transition: all 0.2s;
}
.wish-lish-animation{
    color: red;
}
#wish-lish:hover {
    color: #3498db;
}

#cart:hover {
    color: #3498db;
}
.header-search{
	position: relative;
}
.header-search .list-product{
	border: 1px solid white;
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 10;
    overflow: scroll;
    box-shadow: 0 0 10px black;
    list-style-type: none;
    background-color: white;
    display:none;
}
.header-search .list-product li{
	height:50px;
	margin:5px 0;
}
.header-search .list-product li span{
	display:inline-block;
	height:50px;
}
.header-search .list-product li span.img{
	margin-right:50px;
}
.header-search .list-product li span.img img{
	height: 100%;
	width:auto;
}
.header-search .list-product li span.name{
	font-weight: 600;
	line-height:50px;
}