.page-header {
	border-bottom: 1px solid #b76d6d !important;
	color: #675c5c !important;
}

.panel-default {
	margin-top: 15px;
}

.panel-heading {
	color: #5bc0de !important;
}

#show_passowrd {
	/* margin-left: 15px; */
	
}

.mycheckbox {
	display: flex;
	justify-content: space-around;
}

.forget {
	margin-left: 17px;
}

.forget a {
	color: black;
}

.panel-title {
	text-align: center;
}

.alert-danger, .alert-success {
	padding: 5px 15px;
}

.td_all {
	text-align: center;
}

.td_all {
	padding: 0px 5px;
}

.btn_submit_button {
	margin-left: 30px;
}

.btn_close_modal {
	background-color: #f18585;
}

