.payment {
    border: 1px solid #ccc;
    padding: 10px;
}
.card .card-body .tab-content .tab-pane .subscribe {
	display: inline-block;
    padding: 12px 30px;
    border: none;
    border-radius: 40px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

label.error {
      color: red;
}

a {
  text-decoration:none;
  padding: 0.5rem;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 110%;
  color: DodgerBlue;
}

a:hover {
  background-color: DodgerBlue;  
  color: #fff;
}



