.header-logo a {
	color: white;
	font-size: 3rem;
	transition: all 0.4s;
}

img {
	width: 100%;
	height: 100%;
}

.header-logo a.logo:hover {
	color: #3498db;
}
#wish-lish{
    transition: all 0.2s;
}
.wish-lish-animation{
    color: red;
}
#wish-lish:hover {
    color: #3498db;
}

#cart:hover {
    color: #3498db;
}